.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: block;
}
body {
	background-color: #f4f4f4;
}
h1 {
	letter-spacing: 0.5;
	text-transform: uppercase;
	text-align: center;
}
.song {
	margin: 0 auto;
	text-align: justify;
	width:400px;
	margin-top: 20px;
}